.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}
 .container-fluid {
      padding: 60px 50px;
  }
  .nav-container-fluid{
	  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  }
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding:5px;
  width: auto;
} 

  
  
  body {
      font: 400 15px ;
      line-height: 1.8;
      color: #818181;
	  background-color: #F1F1F1;
	  font-family:Calibri !important;
  }
  
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  
  .h2white {
	  font-size: 24px;
      text-transform: uppercase;
      color: White;
      font-weight: 600;
      margin-bottom: 30px;
	  
  }
  
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  

#cf-footer {
      padding: 60px 50px;
	  background-color: #333333 ;
  }

.bg-darkgrey {
	  background-color:#333333;
  }

.bg-grey {
      background-color: #f6f6f6;
  }

.bg-lightgrey {
    background-color: lightgrey;
  }
  
.bg-whitesmoke{
	  background-color : #F1F1F1;
  }
  
.bg-outrageousorange{
	  background-color: #F16123;
  }

.orangeglyph {
  color: #F16123;
}
  
  .logo-small {
      color: #F16123;
      font-size: 50px;
  }

.logo {
      color: #F16123;
      font-size: 200px;
  }

.thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #F16123;
  }
  .carousel-indicators li {
      border-color: #F16123;
  }
  .carousel-indicators li.active {
      background-color: #F16123;
  }

  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #F16123; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #F16123;
      background-color: #fff !important;
      color: #F16123;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #F16123 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  
  .gmap{
	  height:500px;
	  width:70%;
  }
  
 
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #F16123;
      color: #fff;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
   opacity: 0.7;

}
.navbar li a, .navbar .navbar-brand {
      color: black !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

  
  

 
.navbar-default.transparent {
    background-color: #fff;
	
}
.slide1, .slide2, .slide3 {
    min-height: 560px;
    background-size: cover;
    background-position: center center;
}
.slide1 {
    background-image: url("../img/img9.jpg");
}
.slide2 {
    background-image: url("../img/img5.jpg");
}
.slide3 {
    background-image: url("../img/img6.jpg");
}
/* Carousel Fade Effect */
.carousel.carousel-fade .item {
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    opacity: .5;
}
.carousel.carousel-fade .active.item {
    opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}
.carousel-overlay {
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
}
  
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #F16123 ;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
  
  #mailsuccess {
      background-color: rgba(0, 255, 0, 0.3);
  }
  
  #mailfail{
      background-color: rgba(255, 0, 0, 0.3);
  }
  